html-testRunner
wget
watchdog~=0.10.3
tqdm
pandas~=1.1.2
numpy
emoji~=0.6.0
markipy~=0.0.3
PySide2~=5.15.1
setuptools~=50.3.0
twine
matplotlib
pycryptodomex
python-gnupg
# rospkg
# rosbag
# rospy
tables
torch
PyYAML
wandb
jupyter
tensorboard
pytorch_model_summary
torchsummary